@model MVCAgenda.Models.Logging.LogListItemViewModel

@{
	var pageTitle = "Detalii log";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasa</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Logging">
				<i class="fas fa-info-circle"></i>
				Loguri
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<div class="section">
	<header>
		<strong class="title">
			<i class="fas fa-info-circle"></i>
			@pageTitle
		</strong>
		<div class="actions">
			
		</div>
	</header>
	<div class="content">
		<div class="data">
			<div class="row">
				<div class="col-sm-2">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon">@Html.DisplayNameFor(model => model.LogLevel)</span>
						<label asp-for="LogLevel" class="form-control">@Html.Raw(Model.LogLevel)</label>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.ShortMessage)</span>
						<input asp-for="ShortMessage" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.ShortMessage)" readonly>
					</div>
				</div>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.FullMessage)</span>
				<textarea asp-for="FullMessage" type="text" class="form-control resizable" aria-label="@Html.DisplayNameFor(model => model.FullMessage)" readonly></textarea>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon3">@Html.DisplayNameFor(model => model.IpAddress)</span>
				<input asp-for="IpAddress" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.IpAddress)" aria-describedby="basic-addon3" readonly>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon4">@Html.DisplayNameFor(model => model.CreatedOnUtc)</span>
				<label asp-for="CreatedOnUtc" class="form-control" aria-describedby="basic-addon4">@Html.Raw(Model.CreatedOnUtc)</label>
			</div>
		</div>
	</div>
</div>