@model MVCAgenda.Models.Logging.LogsViewModel

@{
	var pageTitle = "Lista cu loguri";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasa</span>
			</a>
		</li>
		@*<li class="breadcrumb-item">
			<a asp-action="Manage" asp-controller="Manage">
				<i class="fas fa-cogs"></i>
				<span>Administreaza</span>
			</a>
		</li>*@
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<section class="section">
	<header>
		<strong class="title">
			<i class="fas fa-info-circle"></i>
			Loguri
		</strong>
		<div class="actions">
			<form asp-action="Delete">
				<button type="submit" class="btn btn-outline-primary" id="DeleteLogs">
					<i class="far fa-trash-alt"></i>
					Sterge logurile
				</button>
			</form>
			<form asp-controller="HelperConvert" asp-action="ConvertToUtc" method="post">
				<button type="submit" class="btn btn-outline-primary">
					<i class="fas fa-history"></i>
					Convertește la UTC
				</button>
			</form>
		</div>
	</header>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Logs[0].LogLevel)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Logs[0].CreatedOnUtc)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Logs[0].ShortMessage)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Logs[0].IpAddress)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Logs.Count > 0)
				{
					@foreach (var item in Model.Logs)
					{
						<tr>
							<td class="column-center">
								@Html.Raw(item.LogLevel)
							</td>
							<td class="column-center">
								@Html.DisplayFor(modelItem => item.CreatedOnUtc)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ShortMessage)
							</td>
							<td class="column-center">
								@Html.DisplayFor(modelItem => item.IpAddress)
							</td>
							<td class="text-end">
								<div class="dropdown d-inline-block">
									<button class="btn btn-main-color-filled dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Detalii
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<li>
											<a asp-action="Details" asp-controller="Logging" class="dropdown-item text-color" asp-route-id="@item.Id">Detalii log</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr class="no-hover">
						<td colspan="8" class="text-center">
							Lista cu loguri este goală.
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>
@section Scripts
{
<script>
	$(function (){
		$('DeleteLogs').click(function(e){
			e.preventDefault();

			if(window.confirm('Sunteți sigur că doriți să curățați lista cu loguri?'))
				$(this).parent('form').submit();
		});
	});
</script>
}