@model MVCAgenda.Models.Rooms.RoomViewModel

@{
	var pageTitle = "Detalii camera";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasa</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Rooms">
				<i class="fas fa-tag"></i>
				<span>Camere</span>
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>


<section class="section">
	<header>
		<strong class="title">
			<i class="fas fa-tag"></i>
			@pageTitle
		</strong>
		<div class="actions">
			<form asp-action="Delete" asp-route-id="@Model.Id">
				<button type="submit" class="btn btn-outline-primary" id="DeleteRoom">
					<i class="far fa-trash-alt"></i>
					Sterge
				</button>
			</form>
			<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
				<i class="far fa-edit"></i>
				Modifica
			</a>
		</div>
	</header>
	<div class="content">
		<div class="data">
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.Name)</span>
				<input asp-for="Name" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Name)" aria-describedby="basic-addon2" readonly>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.PrimaryColor)</span>
				<input asp-for="PrimaryColor" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.PrimaryColor)" aria-describedby="basic-addon2" readonly>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.SecondaryColor)</span>
				<input asp-for="SecondaryColor" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.SecondaryColor)" aria-describedby="basic-addon2" readonly>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.Description)</span>
				<input asp-for="Description" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Description)" aria-describedby="basic-addon2" readonly>
			</div>
		</div>
	</div>
</section>

@section Scripts
{
	<script>
		$(function (){
			$('#DeleteRoom').click(function(e){
				e.preventDefault();

				if(window.confirm('Sunteți sigur că doriți să ștergeți acesta camera?'))
					$(this).parent('form').submit();
			});
		});
	</script>
}