
@{
    ViewData["Title"] = "Delete";
}


@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Models.Medics.MedicViewModel
    <div class="main box">
        <div class="d-lg-flex justify-content-lg-center">
            <div class="col-md-12">

                <div class="container g-0">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <h3 class="text-color text-center mb-3">Ești sigur că dorești să ștergi acest medic?</h3>
                        </div>
                        <div class="col-auto">
                            <form asp-action="Delete">
                                <div class="form-group btn-group">
                                    <a asp-action="Manage" asp-controller="Home" class="btn btn-outline-secondary">Anulează</a>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Șterge medicul" class="btn btn-outline-danger" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.Name)</span>
                    <input asp-for="Name" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Name)" aria-describedby="basic-addon2" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.Mail)</span>
                    <input asp-for="Mail" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Mail)" aria-describedby="basic-addon2" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.ImagePath)</span>
                    <input asp-for="ImagePath" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.ImagePath)" aria-describedby="basic-addon2" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.Designation)</span>
                    <input asp-for="Designation" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Designation)" aria-describedby="basic-addon2" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.Description)</span>
                    <input asp-for="Description" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Description)" aria-describedby="basic-addon2" readonly>
                </div>
            </div>
        </div>
    </div>
}