
@{
    ViewData["Title"] = "Delete";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Core.Domain.Patient

    <h3>Sunteti sigur ca doriti sa stergeti acest pacient?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SecondName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SecondName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhonNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhonNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Blacklist)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.Blacklist)
            </dd>
        </dl>

        <form asp-action="Delete">
            <div class="btn-group" role="group" aria-label="Optiuni">
                <a asp-action="Details" asp-controller="Patients" asp-route-id="@Model.Id" class="btn btn-secondary">Inapoi</a>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Sterge" class="btn btn-danger" />
            </div>
        </form>
    </div>
}