@{
    ViewData["Title"] = "Detalii pacient";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Core.ViewModels.PatientViewModel

    <h1>Detalii pacient</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon">@Html.DisplayNameFor(model => model.FirstName)</span>
                    <input asp-for="FirstName" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.FirstName)" aria-describedby="basic-addon" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@Html.DisplayNameFor(model => model.SecondName)</span>
                    <input asp-for="SecondName" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.SecondName)" aria-describedby="basic-addon1" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Html.DisplayNameFor(model => model.PhonNumber)</span>
                    <input asp-for="PhonNumber" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.PhonNumber)" aria-describedby="basic-addon2" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">@Html.DisplayNameFor(model => model.Mail)</span>
                    <input asp-for="Mail" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Mail)" aria-describedby="basic-addon3" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@Html.DisplayNameFor(model => model.BlacklistText)</span>
                    <label asp-for="BlacklistText" class="form-control" aria-describedby="basic-addon1">@Html.Raw(Model.BlacklistText)</label>
                </div>
            </div>
            <div class="col-sm-4">
                <ul style="list-style-type:none; text-align:start;">
                    <li> <a asp-action="Index" asp-controller="Appointments" asp-route-Id="@Model.Id">Programarile pacientului</a> </li>
                    <li> <a asp-action="Details" asp-controller="SheetPatient" asp-route-id="@Model.Id">Fisa medicala</a> </li>
                    <li> <a asp-action="Edit" asp-route-id="@Model.Id" class="link-info">Modifica</a> </li>
                    <li> <a asp-action="Delete" asp-route-id="@Model.Id" class="link-danger">Sterge</a> </li>
                    <li> <a asp-action="Index" class="link-secondary">Lista cu pacienti</a> </li>
                </ul>
            </div>
        </div>
    </div>


}