@{
    ViewData["Title"] = "Detalii pacient";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Core.ViewModels.PatientViewModel

    <h1>Detalii pacient</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <dl class="row">
                    <dt class="col-6">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-6">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-6">
                        @Html.DisplayNameFor(model => model.SecondName)
                    </dt>
                    <dd class="col-6">
                        @Html.DisplayFor(model => model.SecondName)
                    </dd>
                    <dt class="col-6">
                        @Html.DisplayNameFor(model => model.PhonNumber)
                    </dt>
                    <dd class="col-6">
                        @Html.DisplayFor(model => model.PhonNumber)
                    </dd>
                    <dt class="col-6">
                        @Html.DisplayNameFor(model => model.Mail)
                    </dt>
                    <dd class="col-6">
                        @Html.DisplayFor(model => model.Mail)
                    </dd>
                    <dt class="col-6">
                        @Html.DisplayNameFor(model => model.BlacklistText)
                    </dt>
                    <dd class="col-6">
                        @Html.Raw(Model.BlacklistText)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <ul style="list-style-type:none; text-align:start;">
                    <li> <a asp-action="Index" asp-controller="Appointments" asp-route-Id="@Model.Id">Programarile pacientului</a> </li>
                    <li> <a asp-action="Details" asp-controller="SheetPatient" asp-route-id="@Model.Id">Fisa medicala</a> </li>
                    <li> <a asp-action="Edit" asp-route-id="@Model.Id" class="link-info">Modifica</a> </li>
                    <li> <a asp-action="Delete" asp-route-id="@Model.Id" class="link-danger">Sterge</a> </li>
                    <li> <a asp-action="Index" class="link-secondary">Lista cu pacienti</a> </li>
                </ul>
            </div>
        </div>
    </div>


}