@{
    ViewData["Title"] = "Lista cu pacienti";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Core.MVCAgendaManagement.MVCAgendaViewsManager

    @if (Model.Blacklist == true)
        {<text><h1>Lista neagra cu pacienti</h1></text>}
    else @if (Model.Hidden == true)
        {<text><h1>Lista cu pacienti stersi</h1></text>}
    else
        {<text><h1>Pacienti</h1></text>}

    <form asp-controller="Patients" asp-action="Index" method="get">
        <div class="input-group">
            <a asp-action="Create" class="btn btn-outline-primary">Adauga un nou pacient</a>

            <input type="text" class="form-control" placeholder="Numele de familie" aria-label="Recipient's username with two button addons" asp-for="SearchByName" />
            <input type="text" class="form-control" placeholder="Numar de telefon" aria-label="Recipient's username with two button addons" asp-for="SearchByPhoneNumber" />
            <input type="text" class="form-control" placeholder="Adresa de e-mail" aria-label="Recipient's username with two button addons" asp-for="SearchByEmail" />

            <input class="btn btn-primary" type="submit" value="Cauta"/>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Optiuni</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    @if (Model.Hidden == false)
                    {
                        <text>
                            <a asp-action="Index" asp-route-isDeleted="true" class="link-warning">Pacienti stersi</a>
                        </text>
                    }
                </li>
                <li>
                    @if (Model.Blacklist == false)
                    {
                        <text>
                            <a asp-action="Index" asp-route-includeBlackList="true" class="link-danger">Lista neagra cu pacienti</a>
                        </text>
                    }
                </li>
                <li>
                    @if (Model.Blacklist == true || Model.Hidden == true)
                    {
                        <text>
                            <a asp-action="Index" class="link-primary">Pacienti</a>
                        </text>
                    }
                </li>
            </ul>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].SecondName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].PhonNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].Mail)
                </th>
                @if (Model.Blacklist == false)
                {
                    <text>
                        <th>
                            @Html.DisplayNameFor(model => model.PatientsList[0].BlacklistText)
                        </th>
                    </text>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PatientsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    @if (Model.Blacklist == false)
                    {
                        <text>
                            <td>
                                @Html.Raw(item.BlacklistText)
                            </td>
                        </text>
                    }
                    <td>
                        <a asp-action="Create" asp-controller="Appointments" asp-route-id="@item.Id">Adauga programare</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalii</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
