@{
    ViewData["Title"] = "Lista cu pacienti";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.Patients.PatientsViewModel

    <div class="container g-0">
        <div class="row justify-content-between">
            <div class="col-auto">
                @if (Model.Blacklist == true)
                {<text><h2 class="text-color mb-3 text-center">Lista neagră cu pacienti</h2></text>}
                @if (Model.Hidden == true)
                {<text><h2 class="text-color mb-3 text-center">Lista cu pacienți șterși</h2></text>}
                @if (Model.Hidden == false && Model.Blacklist == false)
                {<text><h2 class="text-color mb-3 text-center">Pacienți</h2></text>}
            </div>
            <div class="col-auto mb-0 pb-0">
                <a asp-action="Create" class="btn btn-main-second-color-filled">Adaugă un pacient</a>
            </div>
        </div>
    </div>
    <div class="main box">
        <form asp-controller="Patients" asp-action="Index" method="get">
            <div class="input-group  mb-3">
                <input type="text" class="form-control" placeholder="Numele de familie" aria-label="Recipient's username with two button addons" asp-for="SearchByName" />
                <input type="text" class="form-control" placeholder="Numar de telefon" aria-label="Recipient's username with two button addons" asp-for="SearchByPhoneNumber" />
                <input type="text" class="form-control" placeholder="Adresa de e-mail" aria-label="Recipient's username with two button addons" asp-for="SearchByEmail" />

                <input class="btn btn-main-color-filled" type="submit" value="Caută" />
                <div class="dropdown">
                    <button class="btn btn-main-color dropdown-toggle btn-no-left-border-radius" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Opțiuni
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            @if (Model.Hidden == false)
                            {
                                <text>
                                    <a asp-action="Index" asp-route-isDeleted="true" class="dropdown-item link-warning">Pacienți șterși</a>
                                </text>
                            }
                        </li>
                        <li>
                            @if (Model.Blacklist == false)
                            {
                                <text>
                                    <a asp-action="Index" asp-route-includeBlackList="true" class="dropdown-item link-danger">Lista neagră</a>
                                </text>
                            }
                        </li>
                        <li>
                            @if (Model.Blacklist == true || Model.Hidden == true)
                            {
                                <text>
                                    <a asp-action="Index" class="dropdown-item text-color">Pacienți</a>
                                </text>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </form>

        <table class="table">
            <thead class="borderless-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientsList[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientsList[0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientsList[0].PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientsList[0].Mail)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PatientsList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.Raw(item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mail)
                        </td>
                        <td class="text-end">
                            <div class="dropdown d-inline-block">
                                <button class="btn btn-main-color-filled dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Opțiuni
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a asp-action="Create" class="dropdown-item text-color" asp-controller="Appointments" asp-route-id="@item.Id">Adaugă programare</a>
                                    </li>
                                    <li>
                                        <a asp-action="Details" class="dropdown-item text-color" asp-route-id="@item.Id">Detalii</a>
                                    </li>
                                    <li>
                                        <a asp-action="Details" asp-controller="PatientSheet" class="dropdown-item text-color" asp-route-id="@item.SheetPatientId">Fișa medicală</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
