@model MVCAgenda.Models.Patients.PatientsViewModel


@{
	var pageTitle = Model.Blacklist ?? false ?
		"Lista neagră cu pacienti" :
		Model.Hidden ?? false ?
			"Lista cu pacienți șterși" :
			"Pacienți";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Home</span>
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<section class="section">
	<header>
		<strong class="title">
			<i class="fas fa-user-friends"></i>
			@pageTitle
		</strong>
		<div class="actions">
			@if (Model.Hidden == false)
			{
				<a asp-action="Index" asp-route-isDeleted="true" class="btn btn-outline-primary">
					<i class="fas fa-user-slash"></i>
					Pacienți șterși
				</a>
			}
			@if (Model.Blacklist == false)
			{
				<a asp-action="Index" asp-route-includeBlackList="true" class="btn btn-outline-primary">
					<i class="fas fas fa-user-times"></i>
					Lista neagră
				</a>
			}
			@if (Model.Blacklist == true || Model.Hidden == true)
			{
				<a asp-action="Index" class="btn btn-outline-primary">
					<i class="fas fa-users"></i>
					Pacienți
				</a>
			}
			<div class="vr-left">
				<a asp-action="Create" class="btn btn-primary">
					<i class="fas fa-plus"></i>
					Adaugă un pacient
				</a>
			</div>
		</div>
	</header>
	<div class="filters">
		<form asp-controller="Patients" asp-action="Index" method="get">
			<header class="mb-3">
				<div class="title">
					<i class="fas fa-filter"></i>
					<strong>Filtre</strong>
				</div>
				<div class="actions">
					<button type="submit" class="btn btn-outline-primary">
						<i class="fas fa-search"></i>
						Caută pacienti
					</button>
				</div>
			</header>
			<div class="row">
				<div class="col-3">
					<label asp-for="SearchByName"></label>
					<input type="text" class="form-control" asp-for="SearchByName"/>
				</div>
				<div class="col-3">
					<label asp-for="SearchByPhoneNumber"></label>

					<input type="text" class="form-control" asp-for="SearchByPhoneNumber"/>
				</div>
				<div class="col-3">
					<label asp-for="SearchByEmail"></label>
					<input type="text" class="form-control" asp-for="SearchByEmail"/>
				</div>
			</div>
		</form>
	</div>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.PatientsList[0].FirstName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PatientsList[0].LastName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PatientsList[0].Mail)
					</th>
					<th class="text-center">
						@Html.DisplayNameFor(model => model.PatientsList[0].PhoneNumber)
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.PatientsList.Count > 0)
				{
					@foreach (var item in Model.PatientsList)
					{
						<tr>
							<td>
								@item.FirstName.ToUpper()
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.LastName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Mail)
							</td>
							<td class="text-center">
								@Html.Raw(item.PhoneNumber)
							</td>
							<td class="text-end">
								<div class="dropdown d-inline-block">
									<button class="btn btn-main-color-filled dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Opțiuni
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<li>
											<a asp-action="Create" class="dropdown-item text-color" asp-controller="Appointments" asp-route-id="@item.Id">Adaugă programare</a>
										</li>
										<li>
											<a asp-action="Details" class="dropdown-item text-color" asp-route-id="@item.Id">Detalii</a>
										</li>
										<li>
											<a asp-action="Details" asp-controller="PatientSheets" class="dropdown-item text-color" asp-route-id="@item.SheetPatientId">Fișa medicală</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr class="no-hover">
						<td colspan="5" class="text-center">
							Nu s-au gasit date pentru filtrele aplicate
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>