@{
    ViewData["Title"] = "Lista cu pacienti";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Core.MVCAgendaManagement.MVCAgendaViewsManager

    @if (Model.Blacklist == true)
        {<text><h1>Lista neagra cu pacienti</h1></text>}
    else @if (Model.Hidden == true)
        {<text><h1>Lista cu pacienti stersi</h1></text>}
    else
        {<text><h1>Pacienti</h1></text>}

<p>
    <button type="button" class="btn btn-outline-primary" asp-action="Create">Adauga un nou pacient</button>
    
    @if (Model.Blacklist == false)
    {
        <text>
            <button type="button" class="btn btn-outline-danger" asp-action="Index" asp-route-includeBlackList="true">Lista neagra cu pacienti</button>
        </text>
    }
    @if (Model.Hidden == false)
    {
        <text>
            <button type="button" class="btn btn-outline-secondary" asp-action="Index" asp-route-isDeleted="true">Pacienti stersi</button>
        </text>
    }
</p>

    <form asp-controller="Patients" asp-action="Index" method="get">
        <p>
            <input placeholder="Nume"
                   asp-for="SearchByName" />
            &#8226;
            <input placeholder="Numar de telefon"
                   asp-for="SearchByPhoneNumber" />
            &#8226;
            <input placeholder="Adresa de e-mail"
                   asp-for="SearchByEmail" />

            <input type="submit" value="Filter" />
            <a asp-action="Index">Inapoi</a>
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].SecondName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].PhonNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientsList[0].Mail)
                </th>
                @if (Model.Blacklist == false)
                {
                    <text>
                        <th>
                            @Html.DisplayNameFor(model => model.PatientsList[0].BlacklistText)
                        </th>
                    </text>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PatientsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    @if (Model.Blacklist == false)
                    {
                        <text>
                            <td>
                                @Html.Raw(item.BlacklistText)
                            </td>
                        </text>
                    }
                    <td>
                        <a asp-action="Create" asp-controller="Appointments" asp-route-id="@item.Id">Adauga programare</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalii</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
