@{
    ViewData["Title"] = "Detalii pacient";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.PacientViewModel

    <h1>Detalii pacient</h1>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Prenume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Prenume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NrDeTelefon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NrDeTelefon)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Blacklist)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.Blacklist)
            </dd>
        </dl>
    </div>
    <div>

        <hr />
        <input type="hidden" asp-for="PacientId" />
        <a asp-action="AllProgram" asp-controller="Programari" asp-route-id="@Model.PacientId">Vizualizeaza istoria pacientului</a> |
        <a asp-action="Details" asp-controller="FisePacienti" asp-route-id="@Model.PacientId">Vizualizeaza fisa pacientului</a>

        <hr />
        <form asp-action="Delete">
            <a asp-action="Edit" asp-route-id="@Model.PacientId">Editeaza</a> |
            <a asp-action="Delete" asp-route-id="@Model.PacientId">Sterge</a>

            <input type="hidden" asp-for="PacientId" />
        </form>

        <hr />
        <a asp-action="Index">Inapoi la lista cu pacienti</a>
    </div>
}