@using MVCAgenda.Extensions
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"] - MVCAgenda</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="~/css/site.css"/>
		<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css"/>

		@await RenderSectionAsync("Styles", required: false)
	</head>
	<body>
		<div id="AppContent">
			<aside class="sidebar" data-sidebar>
				<div class="sidebar-toggle d-lg-none" data-sidebar-toggle>
					<i class="fas fa-chevron-left"></i>
					Ascunde meniu
				</div>
				<div class="brand">
					<i class="far fa-hospital"></i>
					<strong>Clinica Esderm</strong>
				</div>
				<ul class="navigation">
					<li class="item @(Html.IsSelected("Home", "Index") ? "active" : null)">
						<a asp-action="Index" asp-controller="Home">
							<i class="fas fa-home"></i>
							<span class="text">Acasa</span>
						</a>
					</li>
					<li class="item @(Html.IsSelected("Patients,PatientSheets,Consultations", null) ? "active" : null)">
						<a asp-controller="Patients" asp-action="Index" class="text">
							<i class="fas fa-user-friends"></i>
							<span>Pacienți</span>
						</a>
					</li>
					<li class="item @(Html.IsSelected("Appointments", null) ? "active" : null)">
						<a asp-controller="Appointments" asp-action="Index" asp-route-Daily="true" class="text">
							<i class="fas fa-clipboard-list"></i>
							<span>Programări</span>
						</a>
					</li>
					<li class="item @(Html.IsSelected("Scheduler", null) ? "active" : null)">
						<a asp-controller="Scheduler" asp-action="Index" class="text">
							<i class="fas fa-calendar-alt"></i>
							<span>Calendar</span>
						</a>
					</li>
					@if (User.IsInRole("Admin") || User.IsInRole("Administrator"))
					{
						<li class="item @(Html.IsSelected("Manage,Medics,Rooms,RoleManager,UserRoles,Logging", null) ? "active" : null)">
							<a href="#AdminSubMenu" class="text" data-bs-toggle="collapse" role="button">
								<i class="fas fa-cogs"></i>
								<span>Administrare</span>
							</a>
							<ul class="sub-menu @(!Html.IsSelected("Manage,Medics,Rooms,RoleManager,UserRoles,Logging", null) ? "collapse" : null)" id="AdminSubMenu">
								<li class="item sub-item @(Html.IsSelected("Medics", null) ? "active" : null)">
									<a asp-controller="Medics" asp-action="Index" class="text">
										<i class="fas fa-user-md"></i>
										<span>Medici</span>
									</a>
								</li>
								<li class="item sub-item @(Html.IsSelected("Rooms", null) ? "active" : null)">
									<a asp-controller="Rooms" asp-action="Index" class="text">
										<i class="fas fa-tag"></i>
										<span>Camere</span>
									</a>
								</li>
								@if (User.IsInRole("Admin"))
								{
									<li class="item sub-item @(Html.IsSelected("RoleManager,UserRoles", null) ? "active" : null)">
										<a asp-controller="RoleManager" asp-action="Index" class="text">
											<i class="fas fa-user-tag"></i>
											<span>Administrarea rorulilor</span>
										</a>
									</li>
									<li class="item sub-item @(Html.IsSelected("Logging", null) ? "active" : null)">
										<a asp-controller="Logging" asp-action="Index" class="text">
											<i class="fas fa-info-circle"></i>
											<span>Loguri</span>
										</a>
									</li>
								}
							</ul>
						</li>
					}
				</ul>
			</aside>
			<div class="content">
				<header class="main-header container-fluid">
					<div class="sidebar-toggle d-lg-none" data-sidebar-toggle>
						<i class="fas fa-bars"></i>
					</div>
					<div class="user-menu">
						<a href="#" data-bs-toggle="dropdown">
							<span>@User.Identity.Name</span>
							<i class="fas fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a asp-action="Logout" asp-controller="Account" class="dropdown-item">Deconectare</a>
							</li>
						</ul>
					</div>
				</header>
				<main class="container-fluid" role="main">
					@RenderBody()
				</main>
				<footer class="main-footer">
					&copy; 2021 - Agenda online, Clinica Esderm - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
				</footer>
			</div>
		</div>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>

		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>