@model MVCAgenda.Models.Appointments.AppointmentCreateViewModel

@{
	var pageTitle = "Adaugă o programare";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasă</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Appointments">
				<i class="fas fa-clipboard-list"></i>
				<span>Programări</span>
			</a>
		</li>
		@if (Model.PatientId > 0)
		{
			<li class="breadcrumb-item">
				<a asp-action="Details" asp-controller="Patients" asp-route-id="@Model.PatientId">
					<i class="fas fa-hospital-user"></i>
					<span>@Model.FirstName.ToUpper() @Model.LastName</span>
				</a>
			</li>
		}
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<form asp-action="Create">
	<section class="section">
		<header>
			<strong class="title">
				<i class="fas fa-clipboard-list"></i>
				@pageTitle
			</strong>
			<div class="actions">
				<button type="submit" class="btn btn-primary">
					<i class="far fa-save"></i>
					Salvează
				</button>
			</div>
		</header>
		<div class="content">
			<div class="data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input asp-for="PatientId" type="hidden"/>
				<input asp-for="ResponsibleForAppointment" type="hidden"/>
				<div class="row">
					<div class="col-12 mb-3">
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0" type="checkbox" id="terms_and_conditions" value="1" onclick="terms_changed(this)" aria-label="Checkbox for following text input">
							</div>
							<input type="text" value="Avansat" class="form-control" aria-label="Text input with checkbox" readonly>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input asp-for="FirstName" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
							<label for="floatingInput1" asp-for="FirstName"></label>
							<span asp-validation-for="FirstName" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input asp-for="LastName" class="form-control" id="lastNameFloatingInput" placeholder="Obligatoriu" disabled>
							<label for="floatingInput2" asp-for="LastName"></label>
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input asp-for="PhoneNumber" class="form-control" id="floatingInput3" placeholder="Obligatoriu">
							<label for="floatingInput3" asp-for="PhoneNumber"></label>
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input asp-for="Mail" class="form-control" id="mailFloatingInput" placeholder="Obligatoriu" disabled>
							<label for="floatingInput4" asp-for="Mail"></label>
							<span asp-validation-for="Mail" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<select asp-for="MedicId" class="form-control" id="floatingInput5" asp-items="ViewBag.MedicId"></select>
							<label for="floatingInput5" asp-for="MedicId"></label>
							<span asp-validation-for="MedicId" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<select asp-for="RoomId" class="form-control" id="floatingInput6" asp-items="ViewBag.RoomId"></select>
							<label for="floatingInput6" asp-for="RoomId"></label>
							<span asp-validation-for="RoomId" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input asp-for="StartDate" class="form-control" id="floatingInput7" placeholder="Obligatoriu">
							<label for="floatingInput7" asp-for="StartDate"></label>
							<span asp-validation-for="StartDate" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input asp-for="EndDate" class="form-control" id="endDateFloatingInput" placeholder="Obligatoriu" disabled>
							<label for="floatingInput8" asp-for="EndDate"></label>
							<span asp-validation-for="EndDate" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input asp-for="Procedure" class="form-control" id="floatingInput7" placeholder="Obligatoriu">
							<label for="floatingInput7" asp-for="Procedure"></label>
							<span asp-validation-for="Procedure" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<textarea asp-for="Comments" class="form-control resizable" id="commentsFloatingInput" placeholder="Obligatoriu" disabled></textarea>
							<label for="floatingInput8" asp-for="Comments"></label>
							<span asp-validation-for="Comments" class="text-danger"></span>
						</div>
					</div>
					<div class="col-12">
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0" type="checkbox" asp-for="PrivateAppointment" aria-label="Checkbox for following text input">
							</div>
							<input type="text" value="Programare privată" class="form-control" aria-label="Text input with checkbox" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>

@section Scripts
{
	@(await Html.PartialAsync("_ValidationScriptsPartial"))
	<script>
		function terms_changed(termsCheckBox){
			//If the checkbox has been checked
			if(termsCheckBox.checked){
				//Set the disabled property to FALSE and enable the button.
				document.getElementById("lastNameFloatingInput").disabled = false;
				document.getElementById("mailFloatingInput").disabled = false;
				document.getElementById("endDateFloatingInput").disabled = false;
				document.getElementById("commentsFloatingInput").disabled = false;
			} else{
				//Otherwise, disable the submit button.
				document.getElementById("lastNameFloatingInput").disabled = true;
				document.getElementById("mailFloatingInput").disabled = true;
				document.getElementById("endDateFloatingInput").disabled = true;
				document.getElementById("commentsFloatingInput").disabled = true;
			}
		}
	</script>
}