@model MVCAgenda.Models.Appointments.AppointmentDetailsViewModel

@{
	var pageTitle = "Detalii programare";

	ViewData["Title"] = pageTitle;
}


<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasa</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Patients">
				<i class="fas fa-user-friends"></i>
				<span>Programări</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Details" asp-controller="Patients" asp-route-id="@Model.PatientId">
				<i class="fas fa-hospital-user"></i>
				<span>@Model.FirstName.ToUpper() @Model.LastName</span>
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<section class="section">
	<header>
		<strong class="title">
			<i class="fas fa-clipboard-list"></i>
			@pageTitle
		</strong>
		<div class="actions">
			<form asp-action="Delete" asp-route-id="@Model.Id">
				<button type="submit" class="btn btn-outline-primary" id="DeleteAppointment">
					<i class="far fa-trash-alt"></i>
					Sterge
				</button>
			</form>
			<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
				<i class="far fa-edit"></i>
				Modifica
			</a>
		</div>
	</header>
	<div class="content">
		<div class="data">
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.FirstName)</span>
						<input asp-for="FirstName" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.FirstName)" readonly>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.LastName)</span>
						<input asp-for="LastName" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.LastName)" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.PhoneNumber)</span>
						<input asp-for="PhoneNumber" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.PhoneNumber)" readonly>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.Mail)</span>
						<input asp-for="Mail" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Mail)" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.Medic)</span>
						<input asp-for="Medic" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Medic)" readonly>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.Room)</span>
						<input asp-for="Room" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Room)" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.StartDate)</span>
						<input asp-for="StartDate" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.StartDate)" readonly>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.EndDate)</span>
						<input asp-for="EndDate" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.EndDate)" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.MadeText)</span>
						<label asp-for="MadeText" class="form-control">@Html.Raw(Model.MadeText)</label>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.Procedure)</span>
						<input asp-for="Procedure" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Procedure)" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.AppointmentCreationDate)</span>
						<input asp-for="AppointmentCreationDate" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.AppointmentCreationDate)" readonly>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.ResponsibleForAppointment)</span>
						<input asp-for="ResponsibleForAppointment" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.ResponsibleForAppointment)" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text">@Html.DisplayNameFor(model => model.Comments)</span>
						<textarea asp-for="Comments" type="text" class="form-control resizable" aria-label="@Html.DisplayNameFor(model => model.Comments)" readonly></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts
{
	<script>
		$(function (){
			$('#DeleteAppointment').click(function(e){
				e.preventDefault();

				if(window.confirm('Sunteți sigur că doriți să ștergeți acesta programare?'))
					$(this).parent('form').submit();
			});
		});
	</script>
}