@{
    ViewData["Title"] = "Lista cu programari";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.Appointments.AppointmentsViewModel

    <div class="container g-0">
        <div class="row justify-content-between">
            <div class="col-auto">
                @if (Model.Blacklist == true)
                {<text><h2 class="text-color mb-3 text-center">Programări neefectuate</h2></text>}
                @if (Model.Hidden == true)
                {<text><h2 class="text-color mb-3 text-center">Programări sterse</h2></text>}
                @if (Model.Hidden == false && Model.Blacklist == false)
                {<text><h2 class="text-color mb-3 text-center">Programări</h2></text>}
            </div>
            <div class="col-auto">
                <a asp-action="Create" class="btn btn-main-second-color-filled">Adaugă o programare</a>
            </div>
        </div>
    </div>

    <div class="main box">
        <form asp-controller="Appointments" asp-action="Index" method="get">
            <div class="container">
                <div class="row mb-2">
                    <div class="col same-size">
                        <input type="date" class="form-control"
                               placeholder="Data programari" aria-label="Text" asp-for="SearchByAppointmentDate" />
                    </div>
                    <div class="col same-size">
                        <input type="time" class="form-control"
                               placeholder="Ora programari" aria-label="Text" asp-for="SearchByAppointmentHour" />
                    </div>
                    <div class="col same-size">
                        <select class="form-control" placeholder="Medic" asp-for="SearchByMedic" asp-items="ViewBag.MedicId">
                            <option disabled selected>Medic</option>
                        </select>
                    </div>
                    <div class="col same-size">
                        <select class="form-control" placeholder="Camera" asp-for="SearchByRoom" asp-items="ViewBag.RoomId">
                            <option disabled selected>Cameră</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col same-size">
                        <input type="text" class="form-control"
                               placeholder="Numele de familie" aria-label="Recipient" asp-for="SearchByName" />
                    </div>
                    <div class="col same-size">
                        <input type="text" class="form-control"
                               placeholder="Numar de telefon" aria-label="Recipient" asp-for="SearchByPhoneNumber" />
                    </div>
                    <div class="col same-size">
                        <input type="text" class="form-control" placeholder="Adresa de e-mail" aria-label="Recipient" asp-for="SearchByEmail" />
                    </div>
                    <div class="col same-size">
                        <input type="text" class="form-control" placeholder="Procedura" aria-label="Recipient" asp-for="SearchByProcedure" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="input-group mb-3">
                        <input class="btn btn-main-color-filled" type="submit" value="Caută" />
                        <div class="dropdown">
                            <button class="btn btn-main-color dropdown-toggle btn-no-left-border-radius" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Opțiuni
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    @if (Model.Hidden == false)
                                    {
                                        <text>
                                            <a asp-action="Index" asp-route-Hidden="true" class="dropdown-item link-danger">Programări șterse</a>
                                        </text>
                                    }
                                </li>
                                <li>
                                    @if (Model.Blacklist == true || Model.Hidden == true)
                                    {
                                        <text>
                                            <a asp-action="Index" class="dropdown-item text-color">Programări</a>
                                        </text>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <table class="table">
            <thead class="borderless-table">
                <tr>
                    <th class="center-content">
                        @Html.DisplayNameFor(model => model.AppointmentsList[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentsList[0].PhonNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentsList[0].Medic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentsList[0].Room)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentsList[0].AppointmentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentsList[0].AppointmentHour)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentsList[0].Procedure)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AppointmentsList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhonNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Medic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentHour)
                        </td>
                        <td>
                            @Html.Raw(item.Procedure)
                        </td>
                        <td class="text-end">
                            <div class="dropdown d-inline-block">
                                <button class="btn btn-main-color-filled dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Detalii
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item text-color" asp-action="Details" asp-controller="Patients" asp-route-id="@item.PatientId">Detalii pacient</a></li>
                                    <li><a class="dropdown-item text-color" asp-action="Details" asp-route-id="@item.Id">Detalii programare</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}