
@{
    ViewData["Title"] = "Lista cu programari";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.ListeViewModel

    <h1>Lista cu programari</h1>

    <p>
        <a asp-action="Create">Adauga o programare</a>
        &#8226;
        <a asp-action="Deleted">Programari sterse</a>
    </p>

    <form asp-controller="Programari" asp-action="DailyIndex" method="get">

        <p>
            <input placeholder="Nume"
                   asp-for="SearchStringNume" />
            &#8226;
            <input placeholder="Numar de telefon"
                   asp-for="SearchStringNumarDeTelefon" />
            &#8226;
            <input placeholder="Adresa de e-mail"
                   asp-for="SearchStringEmail" />
        </p>

        <p>
            <input placeholder="Ora"
                   asp-for="SearchStringOra" />
            &#8226;
            <input placeholder="Data"
                   asp-for="SearchStringData" />

            <input type="submit" value="Filter" />
            <a asp-action="Index">Inapoi</a>
        </p>

    </form>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Nume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Prenume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].NrDeTelefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].MedicId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].CameraId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].DataConsultatie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].OraConsultatie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Procedura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Efectuata)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProgramariComplete)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrDeTelefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CameraId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataConsultatie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OraConsultatie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Procedura)
                    </td>
                    <td>
                        @Html.Raw(item.EfectuataText)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ProgramareId">Detalii</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
