
@{
    ViewData["Title"] = "Detalii programare";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Domain.Programare


    <h1>Detalii</h1>

    <div>
        <h4>Programare      @Html.DisplayFor(model => model.DataConsultatie)        @Html.DisplayFor(model => model.OraConsultatie)</h4>
        <hr />

        <div>
            <h4>Detalii despre pacient</h4>
        </div>
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Persoana.Nume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Persoana.Nume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Persoana.Prenume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Persoana.Prenume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Persoana.NrDeTelefon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Persoana.NrDeTelefon)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Persoana.Mail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Persoana.Mail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Persoana.Blacklist)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Persoana.Blacklist == 1)
                {
                    <span class="badge bg-Dangersuccess">Da</span>
                }
                else if (Model.Persoana.Blacklist == 0)
                {
                    <span class="badge bg-success">Nu</span>
                }
            </dd>

        </dl>

        <hr />
        <div>
            <h4>Detalii despre programare</h4>
        </div>
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Medic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Medic.DenumireMedic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Camera)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Camera.DenumireCamera)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataConsultatie)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataConsultatie)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OraConsultatie)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OraConsultatie)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Procedura)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Procedura)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Efectuata)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Efectuata == 1)
                {
                    <span class="badge bg-success">Da</span>
                }
                else if (Model.Efectuata == 0)
                {
                    <span class="badge bg-danger">Nu</span>
                }
            </dd>

            @if (Model.Efectuata == 0)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MotivNeefectuata)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MotivNeefectuata)
                </dd>
            }

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResponsabilProgramare)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResponsabilProgramare)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataCreeareConsultatie)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataCreeareConsultatie)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index">Inapoi la lista de programari</a> |
        <a asp-action="Edit" asp-route-id="@Model.ProgramareId">Modifica</a> |
        <a asp-action="Delete" asp-route-id="@Model.ProgramareId">Sterge</a>
    </div>
}