
@{
    ViewData["Title"] = "Lista cu programari";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.ListeViewModel

    <h1>Programari</h1>

    <p>
        <a asp-action="Create">Adauga o programare</a>
        &#8226;
        <a asp-action="Deleted">Programari sterse</a>
    </p>

    <form asp-controller="Programari" asp-action="Index" method="get">

        <p>
            <input placeholder="Nume"
                   asp-for="SearchStringNume" />
            &#8226;
            <input placeholder="Numar de telefon"
                   asp-for="SearchStringNumarDeTelefon" />
            &#8226;
            <input placeholder="Adresa de e-mail"
                   asp-for="SearchStringEmail" />
        </p>

        <p>
            <select placeholder="Medic"
                    asp-for="SearchMedic"
                    asp-items="ViewBag.MedicId">
            <option disabled selected>Medic</option>
            </select>
            &#8226;
            <select placeholder="Camera"
                    asp-for="SearchCamera"
                    asp-items="ViewBag.CameraId">
                <option disabled selected>Camera</option>
            </select>
            &#8226;
            <input placeholder="Data"
                   asp-for="SearchDataConsultatie" />
            &#8226;
            <input placeholder="Ora"
                   asp-for="SearchOraConsultatie" />


            <input type="submit" value="Filter" />
            <a asp-action="Index">Inapoi</a>
        </p>

    </form>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Nume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Prenume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].NrDeTelefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Medic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Camera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].DataConsultatie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].OraConsultatie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Procedura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramariComplete[0].Efectuata)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProgramariComplete)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrDeTelefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Camera)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataConsultatie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OraConsultatie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Procedura)
                    </td>
                    <td>
                        @Html.Raw(item.EfectuataText)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Pacienti" asp-route-id="@item.PacientId">Vezi pacient</a>|
                        <a asp-action="Details" asp-route-id="@item.ProgramareId">Detalii</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}