
@{
    ViewData["Title"] = "Detalii";
}

@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Models.FisaPacientViewModel

    <h1>Detalii</h1>

    <div>
        <h4>Fisa pacient</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AntecedenteH)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AntecedenteH)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AntecedenteP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AntecedenteP)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExamenFizic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExamenFizic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CNP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CNP)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sexul)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sexul)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Localitatea)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Localitatea)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Strada)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Strada)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataNasterii)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataNasterii)
            </dd>
        </dl>

        <table class="table fixed-layout">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Consultatii[0].Simptome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Consultatii[0].Diagnostic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Consultatii[0].Prescriptii)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Consultatii)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Simptome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnostic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prescriptii)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Consultatii" asp-route-id="@item.ConsultatieId">Detalii</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        YAAYasdsa
        <a asp-action="Create" asp-controller="Consultatii" asp-route-id="@Model.FisaPacientId">Adauga o consultatie noua </a>
        <hr />

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.FisaPacientId">Modifica fisa pacientului</a> |
        <a asp-action="Details" asp-controller="Pacienti" asp-route-id="@Model.FisaPacientId">Inapoi</a>
    </div>

}