@model MVCAgenda.Models.Home.ManageViewModel

@{
	var pageTitle = "Administrare";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasa</span>
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<section class="section">
	<header>
		<strong class="title">
			<i class="fas fa-user-friends"></i>
			Personalul
		</strong>
		<div class="actions">
			<a asp-action="Create" asp-controller="Medics" class="btn btn-primary">
				<i class="fas fa-plus"></i>
				Adaugă un medic
			</a>
		</div>
	</header>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>Nume</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Medics.Count > 0)
				{
					@foreach (var item in Model.Medics)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td class="text-end">
								<div class="dropdown d-inline-block">
									<button class="btn btn-main-color-filled dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Detalii
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<li>
											<a class="dropdown-item" asp-action="Edit" asp-controller="Medics" asp-route-id="@item.Id">Modifică medicul</a>
										</li>
										<li>
											<a class="dropdown-item" asp-action="Delete" asp-controller="Medics" asp-route-id="@item.Id">Șterge medicul</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr class="no-hover">
						<td colspan="2" class="text-center">
							Nu s-au gasit date pentru filtrele aplicate
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>

<section class="section">
	<header>
		<strong class="title">
			<i class="fas fa-tag"></i>
			Camere
		</strong>
		<div class="actions">
			<a asp-action="Create" asp-controller="Rooms" class="btn btn-primary">
				<i class="fas fa-plus"></i>
				Adaugă o camera
			</a>
		</div>
	</header>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>Nume</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Rooms.Count > 0)
				{
					@foreach (var item in Model.Rooms)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td class="text-end">
								<div class="dropdown d-inline-block">
									<button class="btn btn-main-color-filled dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Detalii
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<li>
											<a class="dropdown-item" asp-action="Edit" asp-controller="Medics" asp-route-id="@item.Id">Modifică camera</a>
										</li>
										<li>
											<a class="dropdown-item" asp-action="Delete" asp-controller="Medics" asp-route-id="@item.Id">Șterge camera</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr class="no-hover">
						<td colspan="2" class="text-center">
							Nu s-au gasit date pentru filtrele aplicate
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>

<div class="main box">

	<div class="container g-0">
		<div class="row justify-content-between">
			<div class="col-auto">
				<h2 class="mb-3 text-center text-color">Administrarea rorulilor</h2>
			</div>
			<div class="col-auto">
				<div class="btn-group" role="group" aria-label="Opțiuni">
					@if (User.IsInRole("Admin"))
					{
						<a class="btn btn-main-color-filled" asp-controller="RoleManager" asp-action="Index">Modifică rolurile</a>
					}
					<a class="btn btn-main-color-filled" asp-controller="UserRoles" asp-action="Index">Modifică rolurile conturilor</a>
				</div>
			</div>
		</div>
	</div>
	@if (User.IsInRole("Admin"))
	{
		<div class="container g-0">
			<div class="row justify-content-between">
				<div class="col-auto">
					<h2 class="mb-3 text-center text-color">Logs</h2>
				</div>
				<div class="col-auto">
					<div class="btn-group" role="group" aria-label="Opțiuni">
						<a class="btn btn-main-color-filled" asp-controller="Logging" asp-action="Index">List of Logs</a>
					</div>
				</div>
			</div>
		</div>
	}

</div>