@model MVCAgenda.Models.Accounts.Roles.UsersRolesViewModel

@{
	var pageTitle = "Rolurile utilizatorilor";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasa</span>
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>


<section class="section">
	<header>
		<strong class="title">
			<i class="fas fa-user-tag"></i>
			Rolurile utilizatorilor
		</strong>
		<div class="actions">
			<a asp-action="Register" asp-controller="Account" class="btn btn-primary">
				<i class="fas fa-user-plus"></i>
				Adauga un cont nou
			</a>
			<div class="vr-left">
				<a asp-action="Index" asp-controller="RoleManager" class="btn btn-primary">
					<i class="fas fa-user-tag"></i>
					Modifică rolurile
				</a>
			</div>
		</div>
	</header>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Users[0].Email)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Users[0].Roles)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Users)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Email)
						</td>
						<td class="column-center">
							@string.Join(", ", item.Roles.ToList())
						</td>
						<td>
							<a class="btn btn-main-color-filled" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@item.UserId">Modifică rolurile</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>
