@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    @using MVCAgenda.Models.Accounts.Roles
    @model List<ManageUserRolesViewModel>
        
    

    <div class="main box">
        <form method="post">
            <div class="container g-0 mb-3">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h2 class="text-color">Modifică rolurile pentru utilizatorul @ViewBag.UserName</h2>
                    </div>
                    <div class="col-auto">
                        <div class="d-lg-flex justify-content-lg-center">
                            <div class="btn-group" role="group" aria-label="Optiuni">
                                <input type="submit" value="Salvează" class="btn btn-main-color-filled"/>
                                <a asp-action="Index" class="btn btn-outline-secondary">Anulează</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>


        </form>
    </div>
}