
@{
    ViewData["Title"] = "Detalii";
}

@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Core.ViewModels.SheetPatientViewModel

    <h1>Detalii fisa medicala</h1>
    <hr />

    <div>
        <dl class="row">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">@Html.DisplayNameFor(model => model.AntecedentsH)</span>
                        <input asp-for="AntecedentsH" type="text" class="form-control" aria-label="Antecedente" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">@Html.DisplayNameFor(model => model.PhysicalExamination)</span>
                        <input asp-for="PhysicalExamination" type="text" class="form-control" aria-label="Examen fizic" aria-describedby="basic-addon3" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">@Html.DisplayNameFor(model => model.Town)</span>
                        <input asp-for="Town" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Town)" readonly>
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">@Html.DisplayNameFor(model => model.CNP)</span>
                        <input asp-for="CNP" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.CNP)" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">@Html.DisplayNameFor(model => model.Gender)</span>
                        <input asp-for="Gender" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Gender)" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">@Html.DisplayNameFor(model => model.DateOfBirth)</span>
                        <input asp-for="DateOfBirth" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.DateOfBirth)" readonly>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3"></div>

            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">@Html.DisplayNameFor(model => model.Town)</span>
                        <input asp-for="Town" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Town)" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">@Html.DisplayNameFor(model => model.Street)</span>
                        <input asp-for="Street" type="text" class="form-control" aria-label="@Html.DisplayNameFor(model => model.Street)" readonly>
                    </div>
                </div>
            </div>

            @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntecedentsH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntecedentsH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntecedentsP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntecedentsP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalExamination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalExamination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>*@
        </dl>

        <h3>Consultatii</h3>
        <table class="table fixed-layout">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Consultations[0].Symptoms)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Consultations[0].Diagnostic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Consultations[0].Prescriptions)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Consultations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Symptoms)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diagnostic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prescriptions)
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Consultations" asp-route-id="@item.Id">Detalii</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Optiuni">
            <a asp-action="Details" asp-controller="Patients" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Inapoi</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Modifica fisa pacientului</a>
            <a asp-action="Create" asp-controller="Consultations" asp-route-id="@Model.Id" class="btn btn-outline-primary">Adauga o consultatie</a>
        </div>

    </div>

}